<div class="navbar navbar-dark bg-primary" style="height: 50px;">
  <a style="color: aliceblue;"(click)="logOut()">
    logout
  </a>
</div>

  <div class="spacer"></div>
  <div class="card-container">  
    <a class="card bg-info" style="width: 3.6cm;height:3.6cm" (click)="gestionUtilisateur()" >      
        <span style="color: white; font-style: normal; text-align: center;">
          <a><i class="fa fa-users fa-lg"></i></a>
          ADMINISTRATION
        </span>
      </a>
      
      <a class="card bg-primary" style="width: 3.6cm; height:3.6cm" (click)="gestionDossierPatient()">
        <span style="color: white; font-style: normal;text-align: center;">
          <a><i class="fa fa-home fa-lg"></i></a><br>
          ACCUEIL
        </span>
      </a>

      <a class="card" style="background-color:burlywood;width: 3.6cm;height:3.6cm">
        <span style="color: white; font-style: normal;text-align: center;">
          <a><i class="fa fa-money fa-lg"></i></a>
          COMPTABILITE
        </span>
      </a>

      <a class="card" style="background-color: mediumslateblue;width:3.6cm;height:3.6cm">       
        <span style="color: white; font-style: normal;text-align: center;">
          <a><i class="fa fa-user-md fa-lg"></i></a>
          CONSULTATION
        </span>
      </a>
   
      <a class="card" style="background-color:darksalmon;width:3.6cm;height:3.6cm">
        <span style="color: white; font-style: normal;text-align: center;">
          <a><i class="fa fa-heartbeat fa-lg"></i></a>
          LABORATOIRE
        </span>
      </a>
  
      <a class="card" style="background-color: rgb(58, 226, 3.93);width:3.6cm;height:3.6cm">
        <span style="color: white; font-style: normal;text-align: center;">
          <a><i class="fa fa-plus-square fa-lg"></i></a><br>
          PHARMACIE
        </span>
      </a>

  </div> 
 