/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
  }
  .sidebar-separator {
    background-color: #333;
    height: 25px;
  }
  .logo-separator {
    background-color: #333;    
    height: 60px;
  }