<div class="title">{{ current }}</div>
<div class="crumbs" fxLayout="row" fxLayoutAlign="start center">
    <a [routerLink]="['/index']" class="crumb home" style="color: rgb(241, 235, 235); font-size:small;">Home</a>
    <div *ngFor="let crumb of crumbs" class="crumb" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="chevron">chevron_right</mat-icon>
        <div class="link" [routerLink]="['/'+ crumb]">{{ crumb }}</div>
    </div>
    <div class="crumb current" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="chevron">chevron_right</mat-icon>
        <div class="link">{{ current }}</div>
    </div>
</div>